[Unit]
Description=SMT_API_GATEWAY
After=network-online.target
 
[Service]
User=denis
Group=denis
Type=simple
Restart=always
RestartSec=5
WorkingDirectory=/home/denis/smt_api_gateway/
ExecStart=conduit serve --isolates=8 --ssl-key-path /home/denis/__cert__/privkey.pem --ssl-certificate-path /home/denis/__cert__/cert.pem
 
[Install]
WantedBy=network-online.target