[Unit]
Description=SMT_API_GATEWAY
After=network-online.target
 
[Service]
User=denis
Group=denis
Type=simple
Restart=always
RestartSec=5
WorkingDirectory=/home/denis/souldyor/
ExecStart=conduit serve --isolates=8
 
[Install]
WantedBy=network-online.target